@font-face {
    font-family: 'Matura MT Script Capitals';
    src: url('font/MaturaMTScriptCapitals.woff2') format('woff2'),
        url('font/MaturaMTScriptCapitals.woff') format('woff');
    font-display: swap;
    size-adjust: 150%;
}

@font-face {
    font-family: 'FreeFontPro';
    src: url('font/FreeFontPro.woff2') format('woff2'),
        url('font/FreeFontPro.woff') format('woff');
    font-display: swap;
    size-adjust: 100%;
}

:root {
    --header-skew-transform: skew(-37deg, 0deg);
    --header-rotate-transform: rotate(-5deg);
    --header-scale-transform: scale(1.6, 2);
    --header-translate-transform: translate(0px, 0px);
    --red: #C21E01;
    --jet: #2f2c2c;
    --terra-cota: #D3766A;
    --orange: #BA5624;
    --purple: #8980F5;
    --maximum-yellow: #FAFE41;
    --body-background-color: #fefae0;
    --body-font-family: 'FreeFontPro';
    --comics-border: .625rem solid var(--jet);
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffbf33;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #f68221, #ffbf33);
    border-radius: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--body-font-family);
    background-color: var(--body-background-color);
}


/* .mt-1 {
    margin-top: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-auto {
    margin-top: auto 
}

.me-0 {
    margin-right: 0 
}

.me-1 {
    margin-right: .25rem 
}

.me-2 {
    margin-right: .5rem 
}

.me-3 {
    margin-right: 1rem 
}

.me-4 {
    margin-right: 1.5rem 
}

.me-5 {
    margin-right: 3rem 
}

.me-auto {
    margin-right: auto 
}

.mb-0 {
    margin-bottom: 0 
}

.mb-1 {
    margin-bottom: .25rem 
}

.mb-2 {
    margin-bottom: .5rem 
}

.mb-3 {
    margin-bottom: 1rem 
}

.mb-4 {
    margin-bottom: 1.5rem 
}

.mb-5 {
    margin-bottom: 3rem 
}

.mb-auto {
    margin-bottom: auto 
}

.ms-0 {
    margin-left: 0 
}

.ms-1 {
    margin-left: .25rem 
}

.ms-2 {
    margin-left: .5rem 
}

.ms-3 {
    margin-left: 1rem 
}

.ms-4 {
    margin-left: 1.5rem 
}

.ms-5 {
    margin-left: 3rem 
}

.ms-auto {
    margin-left: auto 
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.mx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important
}

.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.my-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important
}

.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

.p-0 {
    padding: 0 
}

.p-1 {
    padding: .25rem 
}

.p-2 {
    padding: .5rem 
}

.p-3 {
    padding: 1rem 
}

.p-4 {
    padding: 1.5rem 
}

.p-5 {
    padding: 3rem 
}

.px-0 {
    padding-right: 0 ;
    padding-left: 0 
}

.px-1 {
    padding-right: .25rem ;
    padding-left: .25rem 
}

.px-2 {
    padding-right: .5rem ;
    padding-left: .5rem 
}

.px-3 {
    padding-right: 1rem ;
    padding-left: 1rem 
}

.px-4 {
    padding-right: 1.5rem ;
    padding-left: 1.5rem 
}

.px-5 {
    padding-right: 3rem ;
    padding-left: 3rem 
}

.py-0 {
    padding-top: 0 ;
    padding-bottom: 0 
}

.py-1 {
    padding-top: .25rem ;
    padding-bottom: .25rem 
}

.py-2 {
    padding-top: .5rem ;
    padding-bottom: .5rem 
}

.py-3 {
    padding-top: 1rem ;
    padding-bottom: 1rem 
}

.py-4 {
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem 
}

.py-5 {
    padding-top: 3rem ;
    padding-bottom: 3rem 
}

.pt-0 {
    padding-top: 0 
}

.pt-1 {
    padding-top: .25rem 
}

.pt-2 {
    padding-top: .5rem 
}

.pt-3 {
    padding-top: 1rem 
}

.pt-4 {
    padding-top: 1.5rem 
}

.pt-5 {
    padding-top: 3rem 
}

.pe-0 {
    padding-right: 0 
}

.pe-1 {
    padding-right: .25rem 
}

.pe-2 {
    padding-right: .5rem 
}

.pe-3 {
    padding-right: 1rem 
}

.pe-4 {
    padding-right: 1.5rem 
}

.pe-5 {
    padding-right: 3rem 
}

.pb-0 {
    padding-bottom: 0 
}

.pb-1 {
    padding-bottom: .25rem 
}

.pb-2 {
    padding-bottom: .5rem 
}

.pb-3 {
    padding-bottom: 1rem 
}

.pb-4 {
    padding-bottom: 1.5rem 
}

.pb-5 {
    padding-bottom: 3rem 
}

.ps-0 {
    padding-left: 0 
}

.ps-1 {
    padding-left: .25rem 
}

.ps-2 {
    padding-left: .5rem 
}

.ps-3 {
    padding-left: 1rem 
}

.ps-4 {
    padding-left: 1.5rem 
}

.ps-5 {
    padding-left: 3rem 
}

.gap-0 {
    gap: 0 !important
}

.gap-1 {
    gap: .25rem !important
}

.gap-2 {
    gap: .5rem !important
}

.gap-3 {
    gap: 1rem !important
}

.gap-4 {
    gap: 1.5rem !important
}

.gap-5 {
    gap: 3rem !important
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-end {
    align-items: end;
} */


.hero {
    position: relative;
    height: 60vh;
}

.hero__background {
    position: absolute;
    top: 0;
    width: 100%;
}

.lines {
    position: absolute;
    top: -130px;
    width: 35vw;
}

.title__container {
    position: absolute;
    width: 100%;
}

.title__baloon {
    position: absolute;
    top: 0px;
    width: 64vw;
}

.site__title {
    position: absolute;
    top: 120px;
    padding: 1.5rem;
}

.site__title h1 {
    font-family: 'Matura MT Script Capitals';
    font-weight: 800;
    font-size: calc(5rem + 2vw);
    text-align: center;
    color: var(--red);
    word-spacing: 0.125rem;
    letter-spacing: 0.313rem;
    width: 100%;
}

.social__container {
    position: relative;
    width: 100vw;
}

.social {
    border: var(--comics-border);
    background-color: var(--maximum-yellow);
    text-align: center;
}

.social > span {
    font-size: 1.5rem;
}

.social__text {
    font-weight: 900;
    font-size: 2rem;
}

.icons {
    color: var(--jet);
    font-size: 3.125rem;
}

.authors__container {
    border: var(--comics-border);
    background: linear-gradient(89.7deg, #BD2727 -8.23%, #FF812A 108.27%, #FF812A 108.27%);
}

.authors__box {
    position: relative;
    top: -1.500rem;
    background-color: var(--jet);
    height: 5vh;
}

.authors__box span {
    font-size: 1.400rem;
    font-weight: 800;
}

.authors__text {
    position: relative;
    top: -2rem;
    left: -20rem;
}

.authors__text span {
    font-size: 1.875rem;
}